<div class="modal fade" id="modalAddProduto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicionar Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-lg-12">
                            <label for="addDescProduto">Descrição</label>
                            <input type="text" class="form-control" id="addDescProduto">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button id="salvarAddProduto" type="submit" class="btn btn-primary">Salvar</button>
                </div>
             </form>
        </div>
    </div>
</div>